.git
.git.upload
.idea
hooks
info
logs
objects
refs
vendor
storage/logs/*
storage/*.pid
storage/laravels.conf
supervisord.pid
PHP*.rar
DockerDesktopInstaller.exe
ybwm184.sql
*.log
public/storage
public/baksuper2
public/baksuper3
