/.env
/.idea/
/.agents/

/storage/*
!/storage/.gitkeep
!/storage/app/
/storage/app/*
!/storage/app/.gitkeep
!/storage/framework/
/storage/framework/*
!/storage/framework/.gitkeep
!/storage/logs/
/storage/logs/*
!/storage/logs/.gitkeep

/logs/
/supervisord.pid
/php-cgi-80.sock
/testlicense.lic
/public/*.lic
/public/storage/*
!/public/storage/default/
!/public/storage/default/**
/public/baksuper2/
/public/baksuper3/
/app/payment/wechat/cert/
**/private_key.pem
project.private.config.json
/vendor/

/PHP开源后端.rar
/DockerDesktopInstaller.exe

/.git.broken/
/.git.upload/
/.git/
/hooks/
/info/
/objects/
/refs/
/index
