/*!
 *  build: ybwmv3-supertube-admin
 *  copyright: ybwmv3-supertube-admin
 *  time: undefined
 */
/*!
 *  build: ybwmv3-supertube-admin
 *  copyright: ybwmv3-supertube-admin
 *  time: undefined
 */.input[data-v-48914bc2]{width:450px}.tipError[data-v-48914bc2]{color:#ff1f2c;background-color:#fff1f2;border:1px solid #ff1f2c;padding:7px 9px;font-size:12px;margin:0 20px 10px 20px;line-height:16px;letter-spacing:1px}