/*!
 *  build: ybwmv3-supertube-admin
 *  copyright: ybwmv3-supertube-admin
 *  time: undefined
 */
/*!
 *  build: ybwmv3-supertube-admin
 *  copyright: ybwmv3-supertube-admin
 *  time: undefined
 */.avatar-uploader[data-v-0853bd8b]{border:1px dashed var(--el-border-color);border-radius:6px;cursor:pointer;position:relative;overflow:hidden;transition:var(--el-transition-duration-fast);width:98px;height:98px}.avatar-uploader-icon[data-v-0853bd8b]{width:100px;height:88px;transform:scale(2)}